@model PostViewModel
<div>
    <h2>@Model.Caption</h2>
    <p>@Model.Location</p>
    <p>@Model.LikeCount likes</p>
    <p>@Model.CommentCount comments</p>
    <p>@Model.Hashtags</p>

    @if (Model.Medias.Any()) {
        foreach (var media in Model.Medias) {
            if (media.MediaType == "video") {
                <video controls width="400">
                    <source src="@media.Url" type="video/mp4" />
                </video>
            }
            else {
                <img src="@media.Url" width="400" style="margin: 10px;" />
            }
        }
    }
    else {
        <p>No media available.</p>
    }
    @if (Model.UserId == int.Parse(User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value) ) {
        <a asp-action="EditPost" asp-route-postId="@Model.PostId" class="btn btn-primary">Edit Post</a>
    }
    <form asp-action="DeletePost" method="post">
        <input type="hidden" name="postId" value="@Model.PostId" />
        <button type="submit" class="btn btn-danger">Delete Post</button>
    </form>
</div>